@import "../../static/css/mixin.scss";

.element-card-component {
  width: 100%;
  height: rpx(135);
  background-color: #f8f8f8;
  padding: rpx(16) rpx(24);
  @include layout(row, center, space-between);
  &-left {
    width: calc(100% - #{rpx(116)});
    &-attr {
      margin-top: rpx(23);
    }
  }
  &-right {
    width: rpx(100);
    height: rpx(100);
    &-img {
      width: rpx(100);
      height: rpx(100);
    }
  }
}

.element-card-component-noimg {
  width: rpx(100);
  height: rpx(105);
  @include layout(row, center, space-around);
  border-radius: rpx(4);
}

.element-card-component-title {
  width: 100%;
  @include layout(row, flex-end);
  &-name {
    margin-left: rpx(12);
    max-width: rpx(374);
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    color: #161616;
    letter-spacing: 1.2px;
    @include limitTextLine(1);
  }
  &-rate {
    color: $colorDefault;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
  &-score {
    font-size: 12px;
    line-height: 16px;
    color: #9b9b9b;
  }
}

.collect-card-item {
  background-color: #fff;
  padding: rpx(16) rpx(0);
}