@import "../../../static/css/mixin.scss";

.add-post-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  @include layout(column);
}

.add-post-header {
  width: 100%;
  height: rpx(74);
  border-bottom: 1px solid #f0f0f0;
  @include layout(row, center, space-between);
  padding: rpx(16) rpx(48);
}

.comfirm-btn {
  @include textStyle(15px, 21px);
}

.cancel-btn {
  @include textStyle(15px, 21px);
  color: #333;
}

.fa-ele-info {
  width: 100%;
  height: rpx(116);
  padding: rpx(16) rpx(48);
  border-bottom: 1px solid #f0f0f0;
}

.fa-ele-info-all-rate {
  @include layout(row, center);
  margin-top: rpx(8);
}

.add-rate {
  width: 100%;
  height: rpx(118);
  border-bottom: 1px solid #f0f0f0;
  @include layout(row, center);
}

.add-rate-label {
  @include textStyle(12px, 17px);
  margin-left: rpx(48);
  color: #d1d1d1;
}

.add-rate-star {
  margin-left: rpx(127);
  &-icon {
    width: rpx(49);
    height: rpx(49);
    margin-right: rpx(12);
  }
}

.add-post-content {
  width: 100%;
  padding-bottom: 0;
  flex: 1;
}

.post-text-style {
  width: 100%;
  @include textStyle(15px, 21px);
  color: #484848;
}

.post-hr-style {
  width: 100%;
  height: rpx(90);
  position: relative;
  @include layout(row, center, space-around);
  &-hr {
    width: rpx(480);
    height: rpx(2);
    background-color: #666;
  }
}

.post-test {
  width: 100%;
  height: 1000px;
  background-color: #ccc;
}

.add-post-ctrl {
  width: 100%;
  height: rpx(72);
  background-color: rgba(237, 237, 237, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: rpx(10) rpx(40);
  @include layout(row, center, flex-end);
}

.add-post-carl-item {
  width: rpx(50);
  height: rpx(52);
  margin-left: rpx(48);
}

.select-image-view {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 110;
  @include layout(column, flex-start, space-between);
  transform: translateY(100%);
}
.select-image-view-body{
  background-color: #fff;
}
.post-image-style {

}

.select-image-header {
  width: 100%;
  height: rpx(74);
  @include layout(row, center, space-between);
  padding: rpx(16) rpx(48);
  background-color: #fff;
  border-radius: rpx(40) rpx(40) 0 0;
}

.select-media {
  height: rpx(130);
  width: 100%;
  border-top: 1px solid #f0f0f0;
  @include layout(row, center, space-around);
  @include textStyle(18px, 25px);
  color: #161616;
  background-color: #fff;
}

.emoji-viewbox {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
}

.placeholder-class {
  @include textStyle(15px, 21px);
  color: #d1d1d1;

}

.emoji-item {
  padding: rpx(2) rpx(6);
  font-size: 30px;
}

.emoji-scroll-view {
  width: 100%;
  height: 100%;
  padding: rpx(0) rpx(8);
}
