@import "../../static/css/mixin.scss";

.add-rank-header {
  border-top: 1px solid #f0f0f0;
  padding: rpx(10) rpx(28);
  padding-bottom: 0;
  background-color: #fff;
}

.add-rank-header-content {
  width: 100%;
  padding-bottom: rpx(18);
  border-bottom: 1px solid #f0f0f0;
  @include layout(row, center, space-between);
}

.search-input {
  width: rpx(520);
  height: rpx(52);
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #161616;
  @include limitTextLine(1);
}

.input-placeholder-class {
  color: #d1d1d1;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.picker-title {
  padding: rpx(8);
  background-color: #f0f0f0;
  border-radius: rpx(8);
  @include layout(row, center);
}

.picker-title-icon {
  width: rpx(18);
  height: rpx(14);
}

.picker-title-text {
  font-size: 15px;
  line-height: 15px;
  color: #484848;
  margin-left: rpx(8);
}

.add-rank-body {
  width: 100%;
  background-color: #fff;
  padding: 0 rpx(28);
}

.add-attr-title {
  width: 100%;
  @include layout(row, center, space-around);
}

.add-attr-title-content {
  @include layout(row, center);
  padding: rpx(20);
}

.add-attr--title-text {
  @include textStyle(12px, 17px);
  color: #d1d1d1;
}

.add-attr-icon {
  width: rpx(20);
  height: rpx(12);
  transition: all 0.2s ease-in-out;
  transform: rotate(180deg);
  margin-left: rpx(8);
}

.show-attr-icon {
  transform: rotate(0);
}

.add-attr-content-view {
  width: 100%;
  padding: rpx(10);
  transition: all 0.3s ease-in-out;
  @include layout(row, center, flex-start, wrap);
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
  opacity: 0;
}

.show-attr-content {
  visibility: visible;
  transform: translate3d(0, 0, -100px);
  opacity: 1;
}

.add-attr-content-item {
  padding: rpx(6) rpx(12);
  @include textStyle(12px, 12px);
  color: #d1d1d1;
  border-radius: rpx(4);
  border: rpx(2) solid #f0f0f0;
  margin-right: rpx(20);
  margin-bottom: rpx(20);
}

.add-content {
  width: 100%;
  height: rpx(560);
  border: 1px solid #f0f0f0;
  padding: rpx(20) rpx(6);
  position: relative;
}

.add-content-textarea {
  width: 100%;
  background-color: #fff;
  padding: rpx(20) rpx(6);
  height: rpx(200);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  font-size: 15px;
  line-height: 28px;
  color: #484848;
}

.edit-info-view {
  background-color: #fff;
  border-radius: rpx(8);
  padding: rpx(28);
  width: rpx(534);
  transform: translate3d(#{rpx(108)}, #{rpx(350)}, 0);
  position: relative;
  overflow: visible;
}

.edit-info-textarea {
  width: rpx(480);
  height: rpx(100);
  background-color: #f8f8f8;
  border-radius: rpx(4);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: #484848;
}

.comfirm-btn-text {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.comfirm-btn {
  padding: rpx(8);
  @include layout(row, center, space-around);
  background-color: $colorDefault;
  border-radius: rpx(8);
  margin-top: rpx(60);
}

.active-weidu {
  color: #499DFF;
  border: 1px solid #499DFF;
}

.close-icon {
  width: rpx(64);
  height: rpx(64);
  position: absolute;
  bottom: rpx(-120);
  left: rpx(236);
  z-index: 1;
}

.add-post-ctrl {
  width: 100%;
  height: rpx(72);
  background-color: #fff;
  padding: rpx(10) rpx(40);
  @include layout(row, center, flex-end);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(0);
}

.show-ctrl {
  visibility: visible;
  opacity: 1;
}

.add-post-carl-item {
  width: rpx(50);
  height: rpx(52);
  margin-left: rpx(48);
}

.desc-text-style {
  font-size: 15px;
  line-height: 28px;
  color: #484848;
  width: 100%;
}

.add-content-scroll {
  width: 100%;
  height: 100%;
}

.add-content-palceholde {
  color: #d1d1d1;
  font-size: 15px;
}

.add-footer {
  @include layout(row, center, space-around);
}

.add-footer-btn {
  @include layout(row, center, space-around);
  width: rpx(398);
  height: rpx(88);
  border-radius: rpx(44);
  background-color: $colorDefault;
  margin-top: rpx(120);
  color: #fff;
  font-size: 18px;
}