@import "../../../../static/css/mixin.scss";

.post-add-content {
  width: 100%;
  height: 100%;
  @include layout(column, flex-start, space-between);
}

.add-post-ctrl {
  width: 100%;
  height: rpx(72);
  background-color: rgba(237, 237, 237, 1);
  padding: rpx(10) rpx(40);
  @include layout(row, center, flex-end);
}

.post-text-style {
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  word-spacing: 1px;
  color: #484848;
}

.blod-text {
  font-weight: 600;
}

.add-post-carl-item {
  width: rpx(50);
  height: rpx(52);
  margin-left: rpx(48);
}

.post-content-scroll {
  width: 100%;
  padding: 0 rpx(48);
  padding-top: rpx(10);
  transition: all 0.1s ease-in-out;
  background-color: #ccc;
}

.post-content-scroll-box {
  width: 100%;
}

.post-hr-style {
  width: 100%;
  height: rpx(90);
  position: relative;
  @include layout(row, center, space-around);
  &-hr {
    width: rpx(480);
    height: rpx(2);
    background-color: #666;
  }
}

.post-image-style {
  margin: 0 auto;
}

.emoji-viewbox {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
  transition: all 0.1s ease-in-out;
}

.show-emoji {
  transform: translateY(0);
}

.emoji-scroll-view {
  width: 100%;
  height: 100%;
  padding: rpx(0) rpx(8);
}

.emoji-item {
  padding: rpx(2) rpx(6);
  font-size: 30px;
}