@import "../../static/css/mixin.scss";

.rank-card {
  width: 100%;
  @include layout(row, center, space-between);
  border: 1px solid #e9e9e9;
  border-radius: rpx(8);
  padding: rpx(12) 0;
  &-left {
    padding-left: rpx(16);
    @include layout(row, center);
    flex: 1;
    &-icon {
      width: rpx(26);
      height: rpx(30);
    }
    &-text {
      width: rpx(472);
      margin-left: rpx(16);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      letter-spacing: 0.6px;
    }
  }
  &-right {
    width: rpx(142);
    border-left: 1px solid #f8f8f8;
    padding: 0 rpx(8);
    @include layout(row, center, space-around);
  }
}

.large-class-text {
  @include textStyle(17px, 17px, 600);
}

.normal-class-text {
  @include textStyle(15px, 15px);
  color: #484848;
}
