@import "../../static/css/mixin.scss";

.hot-rank-card {
  width: 100%;
  padding-top: rpx(24);
  background-color: $grayf8;
  &-content {
    width: 100%;
    background-color: $white;
    padding: rpx(28);
  }
}

.card-desc {
  @include textStyle(15px, 21px);
  color: $gray48;
  @include limitTextLine(3);
  margin-top: rpx(8);
}

.card-desc-type-img {
  width: 100%;
  padding-top: rpx(8);
  &-img {
    width: rpx(160);
    height: rpx(124);
  }
  &-text {
    @include textStyle(15px, 21px);
    color: $gray48;
    @include limitTextLine(3);
  }
}

