@import "../../static/css/mixin.scss";

.hot-rank-card {
  width: 100%;
  padding-top: rpx(24);
  background-color: $grayf8;
  &-content {
    width: 100%;
    background-color: $white;
    padding: rpx(28);
    padding-bottom: rpx(16);
  }
}

.card-desc {
  margin-top: rpx(8);
}


.hot-rank-subele {
  padding-left: rpx(28);
  padding-right: rpx(28);
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
  padding-bottom: rpx(28);
}

