@import "../../static/css/mixin.scss";

.rate-components {
  @include layout(row, center);
  &-icon-large {
    width: rpx(35);
    height: rpx(35);
    margin-right: rpx(6);
  }
  &-num-large {
    @include textStyle(15px, 15px);
    color: $colorDefault;
    margin-left: 5px;
  }
  &-icon-tiny {
    margin-right: rpx(6);
    width: rpx(26);
    height: rpx(26);
  }
  &-num-tiny {
    @include textStyle(15px, 15px);
    color: $colorDefault;
    margin-left: 5px;
  }
}
