@import "../../static/css/mixin.scss";

.post-card-component {
  padding: rpx(20) 0;
  border-bottom: 1px solid #f0f0f0;
  padding-right: rpx(28);
}

.post-header-right {
  @include layout(row, center, space-between);
  padding-left: rpx(12);
  padding-right: rpx(28);
}

.post-header-right-before-top {
  @include layout(row, center);
}

.post-card-component-content {
  margin-top: rpx(6);
  &-text {
    @include limitTextLine(4);
  }
}

.post-card-component-opts {
  @include layout(row, center, flex-end);
  margin-top: rpx(22);
}

.post-card-component-content-img {
  width: 28%;
  height: rpx(150);
  margin: rpx(16);
  box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, 0.5);
}

.post-image-buffer {
  width: 100%;
}
