/* pages/index/index.wxss */
@import "../../static/css/mixin.scss";

.index-page {
  width: 100%;
  height: 100%;
  &-tab {
    width: 100%;
    padding-top: 10px;
    background-color: #fff;
  }
  &-swiper {
    width: 100%;
  }
}

.bottom-bar {
  width: 100%;
  border-top: 1px solid #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  @include layout(row, center, space-around, nowrap);
  transition: all 0.3s ease-in-out;
  visibility: visible;
  transform: translateY(0);
}

.hide-bottom-bar {
  visibility: hidden;
  transform: translateY(100%);
}

.bottom-bar-item {
  height: 100%;
  padding: rpx(20) rpx(140) rpx(16) rpx(116);
  @include layout(row, center, space-between, nowrap);
  &-icon {
    width: rpx(42);
    height: rpx(46);
  }
  &-text {
    @include textStyle(16px, 22px);
    color: #666;
  }
}

.shuxian {
  width: rpx(2);
  height: rpx(32);
  background-color: #d8d8d8;
}

.login-modal {
  width: rpx(536);
  padding: rpx(48) rpx(24);
  background-color: #fff;
  border-radius: rpx(8);
  @include layout(column, center);
  margin: rpx(400) auto;
  &-logo {
    width: rpx(188);
    height: rpx(74);
  }
  &-text {
    font-size: 12px;
    font-weight: 400;
    color: rgba(209, 209, 209, 1);
    line-height: 17px;
    margin-top: rpx(40);
    margin-top: rpx(34);
  }
  &-loginbtn {
    width: rpx(480);
    height: rpx(90);
    background-color: #3BAF34;
    border-radius: rpx(8);
    margin-top: rpx(86);
    padding: 0 rpx(120);
    @include layout(row, center, space-between);
    &-icon {
      width: rpx(64);
      height: rpx(52);
    }
    &-text {
      @include textStyle(18px, 25px);
      color: #fff;
    }
  }
}