@import "../../../static/css/mixin.scss";

.element-card {
  width: 100%;
  height: rpx(240);
  background-color: #fff;
  padding: rpx(24) 0;
  @include layout(row, center, space-between);
  &-number {
    @include textStyle(24px, 33px, 600);
    color: #161616;
    flex: rpx(106);
    @include layout(row, center, space-around);
    height: 100%;
    padding-bottom: rpx(29);
  }
  &-right {
    flex: rpx(644);
    height: 100%;
    @include layout(column, flex-end, space-between);
    &-body {
      width: 100%;
      height: rpx(153);
    }
  }
}

.popup-rank {
  width: 100%;
}