//Created By Dx on 2018/9/13
//主要颜色变量
$colorDefault: #499DFF;
$colorAssist: #9CCAFF;
$black: #000;
$gray16: #161616;
$gray33: #333333;
$gray48: #484848;
$gray73: #737373;
$gray98: #989898;
$gray9b: #9b9b9b;
$grayd1: #d1d1d1;
$grayd8: #d8d8d8;
$grayf8: #f8f8f8;
$grayf0: #f0f0f0;
$white: #fff;

$pipColor: #499DFF;
.txt-black {
  color: $black;
}

.txt-gray16 {
  color: $gray16;
}

.txt-gray33 {
  color: $gray33;
}

.txt-gray48 {
  color: $gray48;
}

.txt-gray73 {
  color: $gray73;
}

.txt-gray98 {
  color: $gray98;
}

.txt-gray9b {
  color: $gray9b;
}

.txt-grayd1 {
  color: $grayd1;
}

.txt-grayd8 {
  color: $grayd8;
}

.txt-grayf8 {
  color: $grayf8;
}

.txt-white {
  color: $white;
}

