//Created By Dx on 2018/9/13
//主要颜色变量
$colorDefault: #E96676;
$colorAssist: #F7A5AF;
$black: #000;
$gray16: #161616;
$gray33: #333333;
$gray48: #484848;
$gray73: #737373;
$gray98: #989898;
$gray9b: #9b9b9b;
$grayd1: #d1d1d1;
$grayd8: #d8d8d8;
$grayf8: #f8f8f8;
$grayf0: #f0f0f0;
$white: #fff;

.black {

}

.gray16 {
  color: $gray16;
}

.gray33 {
  color: $gray33;
}

.gray48 {
  color: $gray48;
}

.gray73 {
  color: $gray73;
}

.gray98 {
  color: $gray98;
}

.gray9b {
  color: $gray9b;
}

.grayd1 {
  color: $grayd1;
}

.grayd8 {
  color: $grayd8;
}

.grayf8 {
  color: $grayf8;
}

.white {
  color: $white;
}

