@import "color";

@function rpx($value) {
  @return $value * 1rpx;
}

//一级标题
.cm2-h1 {
  color: #161616;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

//小标题
.cm2-sm-title {
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

//正文
.cm-text {
  color: #484848;
  font-size: 15px;
  line-height: 21px;
}

//66文字
.text-12s-17l-666c {
  color: #666;
  font-size: 12px;
  line-height: 17px;
}

//
.text-12s-17l-333c {
  color: #333;
  font-size: 12px;
  line-height: 12px;
}

//标签
.cm-tag {
  font-size: 12px;
  line-height: 17px;
  color: #666;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}

//提示性文字
.cm-tips-text {
  color: #9B9B9B;
  font-size: 12px;
  line-height: 17px;
}

.time-text-style {
  font-size: 12px;
  line-height: 17px;
  color: #9b9b9b;
}

.tag-tips-text {
  color: #9B9B9B;
  font-size: 12px;
  line-height: 17px;
  width: rpx(140);
  height: rpx(34);
}

//数字评分-正常
.cm2-num-rate-n {
  color: $colorDefault;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.cm2-num-rate-s {
  color: $colorDefault;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}

.cm2-num-rate-l {
  color: $colorDefault;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

//单字替换图片
.word-img {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  line-height: 24;
}

//新元素提示 新
.cm-new-ele-tip {
  padding: 0 rpx(24);
  border-radius: 4px;
  color: rgba(255, 48, 45, 1);
  border: 1px solid rgba(255, 48, 45, 1);
  font-size: 12px;
  line-height: 17px;
}

.cm-ml-16 {
  margin-left: rpx(16);
}

.cm-mr-16 {
  margin-right: rpx(16);
}

//====文本样式===========================================
.text-s17-l24-c16 {
  font-size: 17px;
  line-height: 24px;
  color: #161616;
}
.text-s12-l17-c333 {
  font-size: 12px;
  line-height: 17px;
  color: #333;
}

.text-s15-l21-c333 {
  font-size: 15px;
  line-height: 21px;
  color: #333;
}

.text-s15-l21-c48 {
  font-size: 15px;
  line-height: 21px;
  color: #484848;
}

.text-s18-l25-c16 {
  font-size: 18px;
  line-height: 25px;
  color: #161616;
}

.text-s14-l20-c333 {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
.text-s12-l17-c9b{
  font-size: 12px;
  line-height: 17px;
  color: #9b9b9b;
}

//维度标签
.weidu-tag {
  padding: 0 rpx(14);
  font-size: 12px;
  line-height: 17px;
  border-radius: rpx(8);
  border: 1px solid #f8f8f8;
  color: #9b9b9b;
}

//====布局样式
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

//限制3行
.limit-3-line {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
}

.limit-1-line {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
}

.ml-12 {
  margin-left: rpx(12);
}

.mr-12 {
  margin-right: rpx(12);
}

.mt-24 {
  margin-top: rpx(24);
}

.pd-12 {
  padding: rpx(12);
}

//背景色
.bgc-f {
  background-color: #fff;
}



