@import "color";

@function rpx($value) {
  @return $value * 1rpx;
}

//一级标题
.cm2-h1 {
  color: #161616;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

//小标题
.cm2-sm-title {
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

//正文
.cm-text {
  color: #484848;
  font-size: 15px;
  line-height: 21px;
}

//标签
.cm-tag {
  font-size: 12px;
  line-height: 17px;
  color: #666;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}

//提示性文字
.cm-tips-text {
  color: #9B9B9B;
  font-size: 12px;
  line-height: 17px;
}

//数字评分-大
.cm2-num-rate {
  color: $colorDefault;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

//单字替换图片
.word-img {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  line-height: 24;
}

//限制3行
.limit-3-line {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
}

//新元素提示 新
.cm-new-ele-tip {
  padding: 0 rpx(24);
  border-radius: 4px;
  color: rgba(255, 48, 45, 1);
  border: 1px solid rgba(255, 48, 45, 1);
  font-size: 12px;
  line-height: 17px;
}

.cm-ml-16 {
  margin-left: rpx(16);
}

.cm-mr-16 {
  margin-right: rpx(16);
}


