@import "../../static/css/mixin.scss";

.user-center-page {
  width: 100%;
  height: 100%;
  @include layout(column, flex-start);
  position: relative;
}

.user-header-info-name-view {
  width: 100%;
  padding-right: rpx(28);
  @include layout(row, center, space-between);
}

.user-header-info-name-icon {
  width: rpx(12);
  height: rpx(20);
  transform: rotate(180deg);
}

.user-header-background {
  width: 100%;
  height: rpx(332);
  position: absolute;
  top: 0;
  left: 0;
  &-img {
    width: 100%;
    height: rpx(332);
  }
  z-index: -1;
}

.user-header {
  width: 100%;
  height: rpx(332);
  background-color: transparent;
  @include layout(column, flex-start, space-between);
}

.user-header-info {
  width: 100%;
  height: rpx(112);
  padding-left: rpx(40);
  margin-bottom: rpx(52);
  &-right {
    width: calc(100% - #{rpx(112)});
    height: rpx(112);
    padding-left: rpx(16);
    @include layout(column, flex-start, space-between);
  }
}

.user-header-info-name {
  @include textStyle(17px, 24px, 600);
  color: #fff;
}

.user-header-info-sign {
  @include textStyle(15px, 21px, 400);
  color: #fff;
}

.user-header-go-next {
  @include textStyle(14px, 21px, 400);
  color: #fff;
  margin-right: rpx(16);
}

.message-remind {
  width: 100%;
  height: rpx(262);
}

.message-remind-item {
  background-color: #fff;
  width: 100%;
  height: rpx(120);
  padding: rpx(30) rpx(40);
  @include layout(row, center);
  &-icon {
    width: rpx(60);
    height: rpx(60);
  }
  &-right {
    width: calc(100% - #{rpx(60)});
    padding-left: rpx(20);
    @include layout(row, center, space-between);
    &-icon {
      width: rpx(20);
      height: rpx(36);
    }
    &-text {
      @include textStyle(17px, 24px);
      color: #484848;
    }
  }
}

.message-options {
  width: 100%;
  background-color: #f8f8f8;
  flex: 1;
}

.message-options-mt {
  margin-top: rpx(24);
}

.message-show-view {
  width: 100%;
  height: rpx(140);
  background-color: #fff;
  border-top: rpx(2) solid #f0f0f0;
}

.message-show-view-info {
  width: 100%;
  height: 100%;
  padding: rpx(36) rpx(20) rpx(36) rpx(50);
  @include layout(row, center, space-between);
}

.message-show-icon {
  width: rpx(40);
  height: rpx(36);
}

.message-show-content {
  width: calc(100% - #{rpx(40)});
  height: 100%;
  padding-left: rpx(46);
}

.no-login {
  @include layout(row, center, space-around);
}

.no-login-text {
  color: #9b9b9b;
}
