@import "../../static/css/mixin.scss";

.search-box {
  padding: rpx(28);
  padding-right: rpx(34);
  background-color: $colorDefault;
  @include layout(row, center, space-between);
  &-input {
    width: rpx(596);
    height: rpx(64);
    border-radius: rpx(6);
    padding: rpx(14) rpx(5) rpx(14) rpx(42);
    background-color: #D95F6E;
    @include layout(row, center);
    &-icon {
      @include imageStyle(rpx(31), rpx(31), 0);
    }
    &-input {
      width: rpx(523);
      height: 100%;
      padding-left: rpx(24);
      @include textStyle(15px, 21px);
      color: $grayf8;
    }
  }
  &-text {
    @include textStyle(15px, 21px);
    color: $white;
  }
}

.search-page {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.before-search {
  padding: rpx(28);
  background-color: $white;
  width: 100%;
  &-hot-words {
    width: 100%;
    &-label {
      @include textStyle(17px, 24px, 700);
      color: $gray16;
      @extend .grad;
    }
    &-content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      &-text {
        border-radius: 4px;
        padding: rpx(4) rpx(16);
        @include textStyle(15px, 21px);
        color: $gray9b;
        margin-right: rpx(48);
        background-color: $grayf8;
        margin-top: rpx(36);
      }
    }
  }
}