@import "../../static/css/mixin.scss";

.rank-change-components {
  width: rpx(750);
  height: rpx(48);
  margin-top: rpx(14);
  padding: rpx(0) rpx(28);
  @include layout(row, center, space-between);
  &-left {
    @include layout(row, center);
    &-num {
      font-size: 18px;
      font-weight: 600;
    }
    &-name {
      width: rpx(572);
      margin-left: rpx(24);
    }
  }
  &-right {
    @include layout(row, center);
    &-sort {
      font-size: 15px;
    }
  }
}

.up-style {
  color: #FF302D;
}

.down-style {
  color: #666;
}
