@import "../../static/css/mixin.scss";

.short-rank-title {
  padding: rpx(16) rpx(40) 0 rpx(28);
  @include layout(row, center, space-between);
  background-color: #fff;
}

.short-rank-title-icon {
  width: rpx(32);
  height: rpx(28);
  margin-right: 5px;
  transition: all 1000ms ease-in-out;
}

.short-rank-title-right {
  @include layout(row, center);
}

.short-rank-title-text {
  @include textStyle(12px, 17px);
  color: #666;
}

.short-title {
  @include textStyle(15px, 21px);
  color: #333;
}

.short-rank-item {
  width: 100%;
  height: rpx(146);
  border-bottom: 1px solid #f0f0f0;
  padding: rpx(24) rpx(28);
  padding-right: rpx(40);
  background-color: #fff;
  &-top {
    width: 100%;
    height: rpx(52);
    @include layout(row, center, space-between);
  }
}

.short-rank-item-top-name {
  width: rpx(550);
  height: 100%;
  padding-left: rpx(16);
  @include layout(row, center);
  border: 1px solid #e9e9e9;
  border-radius: rpx(8);
}

.rank-card-left-icon {
  width: rpx(28);
  height: rpx(28);
}

.rank-card-left-text {
  @include textStyle(17px, 24px);
  margin-left: rpx(16);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.short-rank-item-b {
  margin-top: rpx(12);
  @include layout(row, center);
}

.short-rank-item-b-icon {
  width: rpx(24);
  height: rpx(29);
}

.short-rank-item-b-text {
  @include textStyle(12px, 12px);
  color: #9b9b9b;
  margin-top: 2px;
  margin-left: 2px;
}

.focus-btn {
  height: rpx(40);
  padding: 0 rpx(16);
  border: 1px solid $colorDefault;
  color: $colorDefault;
  @include layout(row, center, space-between, nowrap);
  border-radius: rpx(4);
  @include textStyle(14px, 20px);
  margin-left: rpx(38);
  white-space: nowrap;
  &-icon {
    width: rpx(26);
    height: rpx(26);
    margin-right: rpx(6);
  }
}